<section class="pad-top-100 pad-btm-40">
  <div class="container">
    <div class="">
      <div class="form-contant">
        <div class="row mrg-top-20">
          <div class="col-lg-6 col-lg-offset-3  col-lg-12 col-sm-8 col-sm-offset-2 mrg-btm-20">
            <div class="row">
              <div class="col-md-12">
                <div class="contact-form ">
                  <img src="../images/login-logo.png" width="" class="img-responsive center-block mrg-btm-20"  alt=""/>
                  <div id="redMessage" class="alert alert-danger center" ng-if="failerMessage">{{failerMessage}}</div>
                  <div id="greenMessage" class="alert alert-success center" ng-if="successMessage">{{successMessage}}</div>
                  <form name="myForm">
                    <div class="form-group" >
                      <input type="email" placeholder="Email Address" class="form-control" ng-model="newEmail" required>
                    </div>
                    <div class="form-group">
                      <input type="password" id="pswd" placeholder="New Password" class="form-control" ng-model="newPassword" ng-minlength="6" required>
                    </div>
                    <div class="form-group">
                      <input type="password" id="pswdcn" placeholder="Confirm New Password" class="form-control" ng-model="confirmNewPassword" required>
                    </div>
                    
                    <div class="text-right mrg-btm-20">
                      <button class="btn btn-default mrg-lft-10" type="submit" ng-click="resetPassword(newEmail, newPassword, confirmNewPassword)">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>